* {
    margin: 0;
  }
  
  .open {
    position: absolute;
    position: fixed;
    background-color: rgba(82, 82, 82, 0.212);
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    display:flex;
    flex-direction: column;
    align-content:center;
    
  }
  .section {
    box-shadow: 1px 1px 20px rgb(26, 25, 25);
    
    position:relative;
    
    box-sizing: border-box;
    background-color: rgb(20, 20, 20);
    height: 200px;
    width: 300px;
    padding: 1em;
    border-radius: 10px;
    margin:auto;
  }
  .section button{
    padding:5px 10px;
    font-size:16px;
  }

  .hidden {
    display: none;
  }